<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">

    <bean id="indexAction" class="action.IndexAction"> </bean>
    <bean id="loginAction" class="action.LoginAction">
	 <property name="dao" ref="userBasicDao"></property>
	</bean>
	<bean id="registerAction" class="action.RegisterAction">
	 <property name="dao" ref="userBasicDao"></property>
	</bean>
	<bean id="statusAction" class="action.StatusAction"> 
	 <property name="dao" ref="accountBasicDao"></property>
	</bean>
	<bean id="depositAction" class="action.DepositAction"> 
	 <property name="dao" ref="accountBasicDao"></property>
	</bean>
	<bean id="withdrawAction" class="action.WithdrawAction"> 
	 <property name="dao" ref="accountBasicDao"></property>
	</bean>
	<bean id="logoutAction" class="action.LogoutAction"> </bean>
	<bean id="historyAction" class="action.HistoryAction"> 
	<property name="dao" ref="historyBasicDao"></property>
	</bean>
	
    <bean id="dataSource"
    	class="org.apache.commons.dbcp.BasicDataSource">
    	<property name="url" value="jdbc:mysql://localhost:3306/"></property>
    	<property name="username" value="root"></property>
    	<property name="password" value="123"></property>
    	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
    </bean>
    <bean id="sessionFactory"
    	class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    	<property name="dataSource">
    		<ref bean="dataSource" />
    	</property>
    	<property name="hibernateProperties">
    		<props>
    			<prop key="hibernate.dialect">
    				org.hibernate.dialect.MySQLDialect
    			</prop>
    		</props>
    	</property>
    	<property name="mappingResources">
    		<list>
    			<value>dao/Account.hbm.xml</value>
    			<value>dao/Transactions.hbm.xml</value>
    			<value>dao/User.hbm.xml</value></list>
    	</property></bean>
    <bean id="transactionManager"
    	class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="baseDAO" class="dao.BaseDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	
	<bean id="userBasicDao" class="service.UserLogin" parent="baseDAO"/>
	<bean id="accountBasicDao" class="service.BalanceChange" parent="baseDAO"/>
	<bean id="historyBasicDao" class="service.QueryHistory" parent="baseDAO"/>
    <tx:annotation-driven transaction-manager="transactionManager" /></beans>